USE [master]
GO
/****** Object:  Database [ExchangeRatesDb]    Script Date: 25.04.2024 04:04:29 ******/
CREATE DATABASE [ExchangeRatesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExchangeRatesDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ExchangeRatesDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExchangeRatesDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ExchangeRatesDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExchangeRatesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExchangeRatesDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25.04.2024 04:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 25.04.2024 04:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ISLEM_TARIHI] [datetime2](7) NULL,
	[KULLANICI_IP] [nvarchar](max) NULL,
	[KUR] [nvarchar](max) NULL,
	[YUZDESEL_DEGISIM] [nvarchar](max) NULL,
	[HATA_FONKSIYON] [nvarchar](max) NULL,
	[HATA_ACIKLAMASI] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.04.2024 04:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240423121135_InitialCreate', N'7.0.18')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240424114113_TblChanged', N'7.0.18')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240424121803_AddUserTbl', N'7.0.18')
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([ID], [ISLEM_TARIHI], [KULLANICI_IP], [KUR], [YUZDESEL_DEGISIM], [HATA_FONKSIYON], [HATA_ACIKLAMASI]) VALUES (1, CAST(N'2024-04-24T14:44:00.9941150' AS DateTime2), NULL, N'USD Today 32.5000 , EUR at 0 =32.2448,EUR Today 34.6207 , EUR at 0 = 35.1355GBP Today 40.0684 , EUR at 0 = 41.0070', N'EUR: -1.4870%, USD: 0.7852%, GBP: -2.3425%', NULL, NULL)
INSERT [dbo].[Logs] ([ID], [ISLEM_TARIHI], [KULLANICI_IP], [KUR], [YUZDESEL_DEGISIM], [HATA_FONKSIYON], [HATA_ACIKLAMASI]) VALUES (2, CAST(N'2024-04-24T14:47:34.7812784' AS DateTime2), NULL, N'USD Today 32.5000, EUR at 2/2/2024 = 30.3735, EUR Today 34.6207, EUR at 2/2/2024 = 33.0537, GBP Today 40.0684, EUR at 2/2/2024 = 38.6719', N'EUR: 4.5262%, USD: 6.5431%, GBP: 3.4853%', NULL, NULL)
INSERT [dbo].[Logs] ([ID], [ISLEM_TARIHI], [KULLANICI_IP], [KUR], [YUZDESEL_DEGISIM], [HATA_FONKSIYON], [HATA_ACIKLAMASI]) VALUES (3, CAST(N'2024-04-24T14:54:48.3513124' AS DateTime2), N'::1', N'USD Today 32.5000, EUR at 18/3/2024 = 32.2448, EUR Today 34.6207, EUR at 18/3/2024 = 35.1355, GBP Today 40.0684, EUR at 18/3/2024 = 41.0070', N'EUR: -1.4870%, USD: 0.7852%, GBP: -2.3425%', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [isActive]) VALUES (1, N'Admin', N'123', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
